.mainContainer{
    color: var(--main-color);
    font-weight: 400;
}

.header{
    background-color: var(--secondary-bg-color);
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.disabledMainBody {
    transition: opacity 0.2s ease-in;
    pointer-events: none;
    opacity: 0.7;
}

.windowDialog{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 5;
    overflow-y: scroll;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    background: var(--secondary-bg-color);
}

.windowDialogCloseContainer{
    position: relative;
}

.windowDialogClose{
    position: fixed;
    font-size: 2.2rem;
    left: 90%;
    color: var(--secondary-bg-color);
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    background: var(--main-icon-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.headerTitle{
    font-size: 0.9rem;
    margin-left: 50px;
}

.headerHelpIcon{
    margin-right: 1.2rem;
    font-size: 1.1rem;
    color: var(--main-icon-color);
    cursor: pointer;
}

.errorMessage{
    margin: 0 auto;
    color: var(--secondary-color);
    text-align: center;
    /*line-height: calc(100vh - 4rem);*/
    height: calc(100vh - 4rem);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.errorMessageText{
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    top: 50%;

}

.mainBody{
    display: flex;
    width: 100vw;
    height: calc(100vh - 3rem);
}

::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--button-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--selection-button-color);
}

a{
    color: var(--main-icon-color);
}

.inputDataContainer{
    padding: 1rem 1rem 1rem 0.4rem;
    margin: 1rem;
    width: 30vw;
    border-radius: 3px;
    background-color: var(--secondary-bg-color);
    overflow-y: auto;
    overflow-x: hidden;
}

input, select{
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--main-color);
    border: 1px solid var(--main-bg-color);
    font-size: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    border-radius: 3px;
    outline: none;
    padding: 5px;
}
input[type="checkbox"]{
    margin: 0;
    padding: 0;
    width: auto;
}

.domainColumn{
    display: flex;
    justify-content: space-between;
}

.brighten{
    filter: brightness(1.2);
    background: var(--secondary-bg-color);
}

button{
    background-color: var(--button-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    margin: 1rem auto;
    color: var(--main-color);
}
button:hover{
    background-color: var(--selection-button-color);
}

.filterContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.filterType{
    width: 7.5rem;
}

.filterRemove{
    font-size: small;
    cursor: pointer;
    color: #f30522;
}

.resultsContainer{
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    width: 100%;
    border-radius: 3px;
    overflow-y: scroll;
}

.insightRow{
    display: flex;

    justify-content: space-between;
    background: var(--secondary-bg-color);
    transition: 0.2s ease-in;
    padding: 0 0.2rem;

    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}
.insightRow:hover{
    filter: brightness(1.2);
}
.insightRowObj{
    cursor: pointer;
}

.insightCell{
    width: 100%;
    text-align: left;
    padding: 0.4rem 0.2rem;
}

.graphContainer{
    max-height: 0;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 0 0.2rem;
    overflow: hidden;
    transform-origin: top center;
    animation: enterIn 0.2s ease-in forwards;
}

.graphContainer h4{
    margin: 0.3rem 0;
    padding: 0 0.1rem;
}

@keyframes enterIn {
    to{
        max-height: 75rem;
    }
}

.chartContainer{
    width: 50rem;
    margin-bottom: 2rem;

}

.mainColor{
    color: var(--main-color) !important;
}